extends layout

block content
  div.col-md-12
    table.table.table-bordered
      thead
        tr
          th Name
          th Destination Host
          th Destination Port
          th Destination AE
          th Source AE
          th
      tbody
        each item in results ? results : []
          tr
            td
              = item.name
            td
              = item.destinationhost
            td
              = item.destinationport
            td
              = item.destinationAE
            td
              = item.sourceAE
            td
      tfoot
    if(error)
      p.bg-danger
        = error
  div.col-md-12
    h3 Add Destination
    form.form-horizontal(name="add", method="post")
      div.form-group
        label.col-sm-3.control-label Name
        div.col-sm-9
          input.form-control(type="text", name="name")
      div.form-group
        label.col-sm-3.control-label Destination Host
        div.col-sm-9
          input.form-control(type="text", name="destinationhost")
      div.form-group
        label.col-sm-3.control-label Destination Port
        div.col-sm-9
          input.form-control(type="text", name="destinationport")
      div.form-group
        label.col-sm-3.control-label Destination AE
        div.col-sm-9
          input.form-control(type="text", name="destinationAE")
      div.form-group
        label.col-sm-3.control-label Source AE
        div.col-sm-9
          input.form-control(type="text", name="sourceAE")
      div.form-group
        div.col-sm-9.col-sm-offset-3
          input.btn.btn-primary(name="submit", type="submit", value="Add")
