extends layout
block content
  div.col-md-4
    form.form-horizontal(name="search", method="post")
      div.form-group
        label.col-sm-3.control-label Name
        div.col-sm-9
          input.form-control(type="text", name="patientname", value=patientname)
      div.form-group
        label.col-sm-3.control-label ID
        div.col-sm-9
          input.form-control(type="text", name="patientid", value=patientid)
      div.form-group
        label.col-sm-3.control-label Date
        div.col-sm-9
          .input-group.date(data-provide='datepicker', data-date-autoclose='true' data-date-today-btn='linked' data-date-today-highlight='true')
            input.form-control(type="text", name="studydate", value=studydate)
            .input-group-addon
              span.glyphicon.glyphicon-calendar
      div.form-group
        label.col-sm-3.control-label StudyUID
        div.col-sm-9
          input.form-control(type="text", name="studyinstanceuid", value=studyinstanceuid)
      div.form-group
        div.col-sm-9.col-sm-offset-3
          input.btn.btn-primary(name="submit", type="submit", value="Search")
          | &nbsp;
          a.btn.btn-default(href='/') Clear
  div.col-md-8
    table#studies.table.table-bordered(data-toggle="table" data-unique-id="StudyInstanceUID")
      thead
        tr
          th
          th(data-visible="false" data-field="StudyInstanceUID") StudyInstanceUID
          th(data-sortable="true") Name
          th(data-sortable="true") PatientID
          th(data-sortable="true") StudyDate
          th(data-sortable="true") Modalities
          th Description
          th Sex
          th Birthdate
      tbody
        each item in results ? results : []
          tr
            td
              a(href='/studies/' + item.StudyInstanceUID) Select
            td
              = item.StudyInstanceUID
            td
              = item.PatientName
            td
              = item.PatientID
            td
              span(style='display: none')
                = item.StudyDate
              div
                = item.StudyDateFormatted
            td
              = item.ModalitiesInStudy
            td
              = item.StudyDescription
            td
              = item.PatientSex
            td
              span(style='display: none')
                = item.PatientBirthDate
              div
                = item.PatientBirthDateFormatted
    if(messages.error)
      p.bg-danger
        = messages.error

block scripts
  script.
    $(function () {


    });
