extends layout
block content
  div.col-md-4
    form.form-horizontal(name="login", method="post")
      div.form-group
        label.col-sm-3.control-label Username
        div.col-sm-9
          input.form-control(type="text", name="username", value=username)
      div.form-group
        label.col-sm-3.control-label Password
        div.col-sm-9
          input.form-control(type="text", name="password", value=password)
      div.form-group
        div.col-sm-9.col-sm-offset-3
          input.btn.btn-primary(name="submit", type="submit", value="Login")
          | &nbsp;
          a.btn.btn-default(href='/') Clear
