extends layout

block content
  div.col-md-12
    h3 Status
    if(messages.success)
      p.bg-success
        = messages.success
    table.table.table-bordered
      thead
        tr
          th uuid
          th StudyInstanceUID
          th PatientID
          th PatientName
          th Destination
          th last update
          th status
      tbody
        each item in sessions ? sessions : []
          tr
            td
              = item.uuid
            td
              a(href='/studies/' + item.StudyInstanceUID)
                = item.StudyInstanceUID
            td
              = item.PatientID
            td
              = item.PatientName
            td
              = item.destination_name
            td
              = item.updatedAt
            td
              = item.status

      tfoot
    if(messages.error)
      p.bg-danger
        = messages.error
