extends ../layout
block title
  |  New Site
block content
  h3 Add Site
  if(messages.error)
    p.bg-danger
      = messages.error
  form.form-horizontal(name="add", method="post")
    include fields
    div.form-group
      div.col-sm-9.col-sm-offset-3
        input.btn.btn-primary(name="submit", type="submit", value="Add")
        | &nbsp;
        a.btn.btn-default(href='/sites') Cancel
