body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.bg-danger {
  padding: 15px;
}

.bg-success {
  padding: 15px;
}

.imageslice {
  padding: 1px;
}

.uuid {
  font-size: 50%;
}

@media print {
  a[href]:after {
    content:none;
  }
}
