extends ../layout
block title
  |  Destinations
block content
  div.col-md-12
    h3 Destinations
    if(messages.success)
      p.bg-success
        = messages.success
    table.table.table-bordered
      thead
        tr
          th Name
          th Destination Host
          th Destination Port
          th Destination AE
          th Source AE
          th
      tbody
        each item in results ? results : []
          tr
            td
              = item.name
            td
              = item.destinationhost
            td
              = item.destinationport
            td
              = item.destinationAE
            td
              = item.sourceAE
            td
              a.btn.btn-default(href='destinations/update/' + item.id) Edit
      tfoot
    if(messages.error)
      p.bg-danger
        = messages.error
  div.col-md-12
    a.btn.btn-default(href='destinations/new') New
