extends ../layout
block title
  |  Update Destination
block content
  h3 Update Destination
  if(messages.error)
    p.bg-danger
      = messages.error
  form.form-horizontal(name="update", method="post")
    include fields
    div.form-group
      div.col-sm-9.col-sm-offset-3
        input.btn.btn-primary(name="submit", type="submit", value="Update")
        | &nbsp;
        a.btn.btn-default(href='/destinations') Cancel
        | &nbsp;
        input.btn.btn-default(name="submit", type="submit", value="Delete")
