extends ../layout
block title
  |  Login Error
block content
  if (messages.loginMessage)
    .message.loginMessage
      span= messages.loginMessage
  if (messages.signupMessage)
    .message.signupMessage
      span= messages.signupMessage
